
#cuadro{
  padding-left: 40px;
  margin: 15px;
}
#cuadroB{
  margin: 20px;
}

#texto{
  text-align: center;
  padding: 4px;
  height: auto;

}
#imagenV{
  width: 125px;
  height: 70px;
  padding-left: 50px;
}
#carta{
  width: 1140px;
  background-color: #FA2727;
}

.minh-90 {
  height: 90vh;
}

.ires{
  width: 80px;
  height: 80px;
  padding-left: 50px;
  /* width: 32px;
  height: 32px;
  padding-left: 50px; */
}
.icon-info{
  width: 100px;
  height: 70px;
  padding-left: 50px;
}
.small-icon{
width: 75px;
height: 65px; 
}
.pos{
  position: absolute;
  top: 0.4rem;
  right: 1rem;
}
