.minh-90 {
  height: 90vh;
}
.pos{
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}
.App-logo{
  animation: App-logo-spin infinite 3s linear;
 height: 16vmin;
  width: 16vmin;
  pointer-events: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
Full screen Modal 
*/
.fullscreen-modal .modal-dialog {
  /*padding: 0;
  padding-right: 0;
  padding-left: 0; 
  margin: 0; */
  margin-right: auto;
  margin-left: auto;
  width: 95vw;
  height: 95vh;
}
@media (min-width: 768px) {
  .fullscreen-modal .modal-dialog {
    width: 95vw;
    /* width: 750px; */
  }
}
@media (min-width: 992px) {
  .fullscreen-modal .modal-dialog {
    width: 95vw;
    /*  width: 970px; */
  }
}
@media (min-width: 1200px) {
  .fullscreen-modal .modal-dialog {
    width: 95vw;
    /*  width: 1170px; */
  }
}
@media (min-width: 576px) {
  .fullscreen-modal .modal-dialog {
    max-width: 95vw;
    /*   width: 500px; */
    /* margin: 1.75rem auto; */
  }
}

/*Modal de imagen*/
.modal-95h {
  width: auto;
  height: 92vh;
}

.img-modal .modal-dialog {
 
  margin-right: auto;
  margin-left: auto;
  width: auto;
  height: 95vh;
}
@media (min-width: 768px) {
  .img-modal .modal-dialog {
    width: auto;

  }
}
@media (min-width: 992px) {
  .img-modal .modal-dialog {
    width: auto;

  }
}
@media (min-width: 1200px) {
  .img-modal .modal-dialog {
    width: auto;

  }
}
@media (min-width: 576px) {
  .img-modal .modal-dialog {
    width: auto;
 
  }
}



